body{
    /* background: url(background.PNG); */
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
.signup{
    width: 360px;
    height: 800px;
    margin: auto;
    background: #FFFFFF00;
    border-radius: 3px;
    margin-top: 50px;
}

.login{
    width: 360px;
    height: 320px;
    margin: auto;
    background: #FFFFFF00;
    border-radius: 3px;
    margin-top: 130px;
}


h1{
    text-align: center;
    color: white" 
}
h4{
    text-align: center;
    padding-top: 15px;
}

form{
    width:300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width : 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;

    outline: none;
    border-radius: 6px;
}

input[type="submit"]{
    width: 320px;
    height:35px;
    margin-top: 20px;
    border:none;
    background-color: #1cbf9b;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover{
    color: white;
    background: rgb(101, 106, 107);
}

p{
    text-align: center;
    padding-top: 20px;
    font-size:15px;
}
