
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.hero{
    /* width: 100%;
    min-height: 100vh;
    background: #eceaff;
    color: #525252; */
    color: #525252;
    text-transform: uppercase;
    letter-spacing: 5px;
    justify-content: space-around;
    font-size: 15px;
}
nav{
    background: #1a1a1a;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
}
.logo{
    width: 30px;
    justify-content: space-around;
} 
.user-pic{
    width: 40px;
    border-radius:50%;
    cursor: pointer;
    margin-left: 30px;
}
nav ul{
    width: 100%;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
.heading {
    display: "inline-block"; 
    margin-right: 30px;
}
 nav ul li a{
    color: #fff;
    text-decoration: none;
 }
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    background: #fff;
    padding: 10px;
    margin: 20px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%; 
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;

}
.nav-links{
    display: flex;
    justify-content: space-around;
    word-spacing: 2em;
    width: 100%;
    
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 2px;
    /* font-weight: bold; */
    font-size: 14px;
}
.content{
        margin-left:40%;
        width: 60%;
        padding: 40px;
      }
      .circle {
        background: gold;
        width: 40px; 
        height: 40px;
        border-radius: 50%;
        display: flex; /* or inline-flex */
        align-items: center; 
        justify-content: center;
      }
      .container{
        width: 120%;
        height: 100vh;
        /* background: #222; */
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .swiper{
        width: 100%;
        height: fit-content;
    }
    .swiper-slide img{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100vw;
        height: 100vh;
    }
    body{
        overflow: hidden;
    
    }
    .centered{
        position: absolute;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);
    }
    .h1{
        font-family: "Lucida Console", "Courier New", monospace;
        color: white;
    }
    .popup{
        width: 400px;
        background: #fff;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1); 
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
    }
    .open-popup{
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);    
    }
    .popup img{
        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .popup h2{
        font-size: 38px;
        font-weight: 500;
        margin: 30px 0 10px;
    }
    .popup button{
        width: 50%;
        margin-top: 50px;
        padding: 10px 0;
        background: #6845a0;
        color: #fff;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }

    .popups{
        width: 400px;
        background: #fff;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1); 
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
    }
    .open-popups{
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);    
    }
    .popups img{
        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .popups h2{
        font-size: 38px;
        font-weight: 500;
        margin: 30px 0 10px;
    }
    .popups button{
        width: 50%;
        margin-top: 50px;
        padding: 10px 0;
        background: #6845a0;
        color: #fff;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
    .popupr{
        width: 400px;
        background: #fff;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1); 
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
    }
    .open-popupr{
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);    
    }
    .popupr img{
        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .popupr h2{
        font-size: 38px;
        font-weight: 500;
        margin: 30px 0 10px;
    }
    .popupr button{
        width: 50%;
        margin-top: 50px;
        padding: 10px 0;
        background: #6845a0;
        color: #fff;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
    .popupw{
        width: 400px;
        background: #fff;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1); 
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
    }
    .open-popupw{
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);    
    }
    .popupw img{
        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .popupw h2{
        font-size: 38px;
        font-weight: 500;
        margin: 30px 0 10px;
    }
    .popupw button{
        width: 50%;
        margin-top: 50px;
        padding: 10px 0;
        background: #6845a0;
        color: #fff;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
    .timertext h1{
        margin-left: 40%;

    }

      button {
        cursor: pointer;
        border: 0;
        border-radius: 4px;
        font-weight: 600;
        margin: 0 10px;
        width: 100px;
        padding: 10px 0;
        box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
        transition: 0.4s;
      }
      
      
      button:hover {
        color: white;
        box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
        background-color: rgba(104, 85, 224, 1);
      }
      
      